.container{
    max-width: 720px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.container h1{
    color: black;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.input{
    background-color: #d3d3d3;
    border: 0;
    padding: 1rem;
    height: 40px;
    border-radius: 0.3rem;
    color: white;
    border: 1px solid green;
    margin-bottom: 1rem;
}

.buttonAdd{
    height: 40px;
    border: 0;
    background-color: green;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    color: white;
}